<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>first_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.controller.SignupServlet</servlet-class>
    <init-param>
    	<param-name>email</param-name>
    	<param-value>admin@gmail.com</param-value>
    </init-param>
    <init-param>
    	<param-name>password</param-name>
    	<param-value>admin</param-value>
    </init-param>
    <!-- it is use for particular servlet -->
  </servlet>
  
  <context-param>
  	<param-name>email</param-name>
  	<param-value>admin@admin.com</param-value>
  </context-param>
  <!-- if the key is same it will be overrided -->
  <context-param>
  	<param-name>password</param-name>
  	<param-value>admin1234</param-value>
  </context-param>
  
  
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdditionBasic</servlet-name>
    <servlet-class>com.controller.AdditionBasic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdditionBasic</servlet-name>
    <url-pattern>/AdditionBasic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatternServlet</servlet-name>
    <servlet-class>com.controller.PatternServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatternServlet</servlet-name>
    <url-pattern>/PatternServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProjectServlet</display-name>
    <servlet-name>AddProjectServlet</servlet-name>
    <servlet-class>com.controller.AddProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProjectServlet</servlet-name>
    <url-pattern>/AddProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProjectServletDB</display-name>
    <servlet-name>ListProjectServletDB</servlet-name>
    <servlet-class>com.controller.ListProjectServletDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProjectServletDB</servlet-name>
    <url-pattern>/ListProjectServletDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProjectDBServlet</display-name>
    <servlet-name>DeleteProjectDBServlet</servlet-name>
    <servlet-class>com.controller.DeleteProjectDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProjectDBServlet</servlet-name>
    <url-pattern>/DeleteProjectDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProjectServlet</display-name>
    <servlet-name>SearchProjectServlet</servlet-name>
    <servlet-class>com.controller.SearchProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProjectServlet</servlet-name>
    <url-pattern>/SearchProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProjectServletDB</display-name>
    <servlet-name>SearchProjectServletDB</servlet-name>
    <servlet-class>com.controller.SearchProjectServletDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProjectServletDB</servlet-name>
    <url-pattern>/SearchProjectServletDB</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateServletDB</display-name>
    <servlet-name>UpdateServletDB</servlet-name>
    <servlet-class>com.controller.UpdateServletDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServletDB</servlet-name>
    <url-pattern>/UpdateServletDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServletFinalDB</display-name>
    <servlet-name>UpdateServletFinalDB</servlet-name>
    <servlet-class>com.controller.UpdateServletFinalDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServletFinalDB</servlet-name>
    <url-pattern>/UpdateServletFinalDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doget</display-name>
    <servlet-name>doget</servlet-name>
    <servlet-class>com.controller.doget</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doget</servlet-name>
    <url-pattern>/doget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSessionBasicHome</display-name>
    <servlet-name>ServletSessionBasicHome</servlet-name>
    <servlet-class>com.controller.ServletSessionBasicHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSessionBasicHome</servlet-name>
    <url-pattern>/ServletSessionBasicHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionHome2Destroy</display-name>
    <servlet-name>SessionHome2Destroy</servlet-name>
    <servlet-class>com.controller.SessionHome2Destroy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionHome2Destroy</servlet-name>
    <url-pattern>/SessionHome2Destroy</url-pattern>
  </servlet-mapping>
  
  
  
  <session-config>
  	<session-timeout>2</session-timeout><!-- minute -->
  </session-config>
  	
  <listener><listener-class>com.listner.UserCounter</listener-class></listener>
  
  <jsp-config>
  
  	<taglib>
  		<taglib-uri>stag</taglib-uri>
  		<taglib-location>/WEB-INF/stag.tld</taglib-location>
  	</taglib>
  </jsp-config>
  
</web-app>